django-environ>=0.11.2
dj-database-url>=2.1.0
django-allauth[oauth]>=65.0.0
psycopg2-binary>=2.9.9
Django>=5.2.8
django-filter>=25.2
djangorestframework>=3.16.1
django-imagekit>=6.0.0
pillow>=12.0.0
pillow-heif>=1.1.1
asgiref>=3.11.0
tzdata>=2025.2
sqlparse>=0.5.3
requests>=2.31.0
uwsgi>=2.0.28
pymysql>=1.1.0
mysqlclient>=2.2.0
